@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

:root {
  --primary-color-1: #fff;
  --primary-color-2: #b22222;
  --primary-color-3: #ffefd5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color-3);
  font-family: 'Spartan', sans-serif;
}

@media screen and (max-width: 920px) {
  body {
    background-color: var(--primary-color-1);
  }
}

.wrapper {
  background-color: var(--primary-color-1);
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
  width: 90%;
  max-width: 1440px;
}

@media screen and (max-width: 920px) {
  .wrapper {
    margin: 0;
    margin-top: 5rem;
    width: 100%;
  }
}

.btn {
  cursor: pointer;
  outline: none;
}

/* =============
  NAVBAR 
=============*/
.header {
  background-color: var(--primary-color-2);
  position: fixed;
  width: 100%;
  top: 0;
  height: 5rem;
}

.navbar-wrapper {
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 90%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-color-1);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

.logo:hover {
  color: var(--primary-color-3);
}

@media screen and (max-width: 768px) {
  .navbar {
    overflow: hidden;
    background-color: var(--primary-color-3);
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 5rem;
    transition: all 0.3s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .navbar-open {
    height: 11em;
  }
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    justify-content: space-around;
  }
}

.navbar-menu li {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .navbar-menu li {
    list-style-type: none;
    padding: 1em;
  }
}

.navbar-link {
  color: var(--primary-color-1);
  text-decoration: none;
  font-size: 22px;
  padding-left: 2em;
}

@media screen and (max-width: 768px) {
  .navbar-link {
    padding-left: 0.5em;
    font-size: 20px;
    color: black;
  }
}

.navbar-link:hover {
  color: var(--primary-color-3);
}

@media screen and (max-width: 768px) {
  .navbar-link:hover {
    color: var(--primary-color-2);
  }
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
    max-height: 1em;
    border: transparent;
    background-color: transparent;
    color: var(--primary-color-1);
    font-size: 30px;
    transition: transform 0.3s linear;
  }

  .nav-toggle-open {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
  }
}

/* ==================
BTN-SEASON 
=====================*/

.btn-season {
  color: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
  background-color: var(--primary-color-2);
  font-size: 20px;
  padding: 0.25em;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .btn-season {
    max-width: 10em;
    margin-bottom: 1em;
    align-self: flex-end;
  }
}

.btn-season:active {
  position: relative;
  top: 1px;
}

.btn-season:hover {
  color: var(--primary-color-3);
  border: 1px solid var(--primary-color-3);
}

/* ==================
  MODAL
=====================*/

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-overlay-open {
  visibility: visible;
}

.modal {
  visibility: hidden;
  background-color: var(--primary-color-1);
  position: fixed;
  text-align: center;
  min-width: 50%;
  min-height: 50%;
  top: 25%;
  left: 25%;
  border-radius: 5px;
  z-index: 20;
}

.modal-open {
  visibility: visible;
}

@media screen and (max-width: 768px), (max-height: 420px) {
  .modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    overflow-x: scroll;
  }
}

.modal-title {
  margin-top: 2rem;
}

.modal-close-btn {
  right: 1rem;
  top: 1rem;
  border: transparent;
  background-color: transparent;
  position: absolute;
  font-size: 2rem;
  color: var(--primary-color-2);
}

@media screen and (max-width: 768px) {
  .modal-close-btn {
    font-size: 3rem;
  }
}

.season-container {
  margin: 1rem;
  box-sizing: content-box;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

@media screen and (max-width: 600px) {
  .season-container {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(25, 1fr);
  }
}

.year {
  list-style-type: none;
  margin: 0.25em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .year {
    list-style-type: none;
    margin: 0.75em;
    cursor: pointer;
  }
}

.year:hover {
  color: var(--primary-color-2);
}

/* =================
  TABLE 
====================*/
@media screen and (max-width: 920px) {
  .table-container {
    overflow-x: scroll;
    display: block;
    margin: auto;
    max-width: 90%;
  }
}

.table-wrapper {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
}

.table-header {
  width: 90%;
  margin: auto;
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .table-header {
    flex-direction: column;
  }
}

.table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

@media screen and (max-width: 920px) {
  .table {
    width: 100%;
  }
}

.table-title {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .table-title {
    font-size: 26px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .table-title {
    align-self: flex-start;
  }
}
.table-headings {
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
  text-align: left;
  padding: 1em 1em 1em 1em;
}

@media screen and (max-width: 920px) {
  .table-headings {
    padding: 1em 0.2em 1em 0.5em;
    font-size: 14px;
  }
}

.table-cell {
  padding: 0.5em 1em 0.5em 1em;
}

@media screen and (max-width: 920px) {
  .table-cell {
    padding: 0.5em 0.2em 0.5em 0.5em;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .table-cell {
    font-size: 12px;
  }
}

.table tr:nth-child(2n) {
  background-color: #dcdcdc;
}

/* ==================
BTN-SWITCH
=====================*/
.btn-switch-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .btn-switch-container {
    margin-top: 0.75em;
  }
}

.btn-switch {
  min-width: 7em;
  max-height: 1.75em;
  border: 2px solid var(--primary-color-2);
  background-color: var(--primary-color-1);
  color: var(--primary-color-2);
  font-size: 20px;
  padding: 0.25em;
  border-radius: 5px;
  margin-right: 0.5em;
  align-self: flex-end;
}

.btn-switch-active {
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
}

.btn-switch:active {
  position: relative;
  top: 1px;
}

/* ==============
BTN_LINK
============== */

.btn-link {
  color: var(--primary-color-2);
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .btn-link {
    font-size: 12px;
  }
}

/* ============
LOADING 
===============*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--primary-color-2);
  animation: spinner 0.6s linear infinite;
}

/* ============
MESSAGE
============ */
.message-container {
  padding: 12rem 0;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .message-container {
    width: 90%;
  }
}

.message {
  font-size: 20px;
  margin-bottom: 1rem;
}

.btn-message {
  width: 7em;
  border: transparent;
  color: var(--primary-color-1);
  background-color: var(--primary-color-2);
  font-size: 20px;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}

.btn-message:active {
  position: relative;
  top: 1px;
}

.scroll-message {
  margin: auto;
  color: var(--primary-color-2);
  width: 90%;
  text-align: right;
  font-size: 12px;
}
